<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styleauthor.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About The Job</title>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container">

    <div class="jumbotron jumbotron-fluid">

        <h3 class="title" align="left">About Us</h3>
    </div>

    <br />

    <!-- Container (The Band Section) -->
    <div id="band" class="container text-center">
        <h3>Developer of The Program</h3>
        <p></p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="box5">
                    <p class="text-center"><strong>Jennfier Lee</strong></p><br>
                    <a href="https://www.github.com/jihyunle" data-toggle="collapse">
                        <img src="https://avatars3.githubusercontent.com/u/42050154?s=400&v=4" class="img-circle person" alt="Random Name" width="255" height="255">
                    </a>

                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Eyeal Mekonen</strong></p><br>
                <a href="https://www.github.com/eyael" data-toggle="collapse">
                    <img src="https://res.cloudinary.com/dzvnlvrcf/image/upload/v1554126852/eyu.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>

            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Jesse</strong></p><br>
                <a href="https://www.github.com/jesseberliner" data-toggle="collapse">
                    <img src="https://res.cloudinary.com/dzvnlvrcf/image/upload/v1554126943/jesse.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong></strong></p><br>
                <a href="#demo2" data-toggle="collapse">
                    <img src="" class="img-circle person" alt="" width="255" height="255">
                </a>

            </div>

            <div class="col-sm-4">
                <p class="text-center"><strong>Ayaleneh yilma</strong></p><br>
                <a href="https://www.github.com/ayaleneh" data-toggle="collapse">
                    <img src="https://res.cloudinary.com/dzvnlvrcf/image/upload/v1552305921/jytlf844cnb12wqdneae.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>

            </div>

            <div class="col-sm-3">
                <p class="text-center"><strong></strong></p><br>
                <a href="#demo3" data-toggle="collapse">
                    <img src="" class="img-circle person" alt="" width="255" height="255">
                </a>

            </div>

        </div>
    </div>





    <div th:replace="base :: footer"></div>
    <div th:replace="base :: javascript"></div>

</div>

</body>
</html>