<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styleauthor.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About The Job</title>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container">

    <div class="jumbotron jumbotron-fluid">

        <h3 class="title" align="left">About Us</h3>
    </div>

    <br />

    <div class="container">
        <div class="row">

            <div class="col col-sm-3 col-md-6" align="center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dtvwgqowk/image/upload/v1550852605/20190222_102707.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Eyael A Mekonnen</h4>
                        <h6 class="card-text">Software Developer</h6>
                        <a href="https://www.linkedin.com/eyael" class ="fa fa-linkedin">&nbsp;&nbsp;LinkedIn</a><br>
                        <a href="https://www.github.com/eyael" class ="fa fa-github">&nbsp;&nbsp;GitHub</a><br>
                        <a href="https://www.instagram.com/eyael" class ="fa fa-instagram">&nbsp;&nbsp;https://www.instagram.com/eyael</a><br>

                    </div>
                </div>
            </div>
            <div class="col col-sm-3 col-md-6" align="center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/jihyunle/image/upload/v1553288911/t5wgcuj34e3hlpbe1xfn.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Jesse Berliner</h4>
                        <h6 class="card-text">Software Developer</h6>
                        <a href="https://www.linkedin.com/#" class ="fa fa-linkedin">&nbsp;&nbsp;LinkedIn</a><br>
                        <a href="https://www.github.com/jesseberliner" class ="fa fa-github">&nbsp;&nbsp;GitHub</a><br>
                    </div>
                </div>
            </div>
            <div class="col col-sm-3 col-md-6" align="center">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/jihyunle/image/upload/v1553288911/t5wgcuj34e3hlpbe1xfn.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Ayal </h4>
                        <h6 class="card-text">Software Developer</h6>
                        <a href="https://www.linkedin.com/#" class ="fa fa-linkedin">&nbsp;&nbsp;LinkedIn</a><br>
                        <a href="https://www.github.com/ayaleneh" class ="fa fa-github">&nbsp;&nbsp;GitHub</a><br>
                    </div>
                </div>
            </div>
            <div class="col col-sm-3 col-md-6" align="center">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/jihyunle/image/upload/v1554125714/42050154.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Jennifer Lee</h4>
                        <h6 class="card-text">Software Developer</h6>
                        <a href="https://www.linkedin.com/jenjl" class ="fa fa-linkedin">&nbsp;&nbsp;LinkedIn</a><br>
                        <a href="https://www.github.com/jihyunle" class ="fa fa-github">&nbsp;&nbsp;GitHub</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div th:replace="base :: footer"></div>
    <div th:replace="base :: javascript"></div>

</div>

</body>
</html>