<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <th:block th:replace="base :: admin"></th:block>
    <title>admin</title>
</head>
<body>

<th:block th:replace="base :: nav"></th:block>


    <div class="inner contact">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us"
                  th:action="@{/admin}"
                  th:object="${job}"
                  method="post">
                <!-- Left Inputs -->
                <div class="col-xs-3 wow animated slideInLeft" data-wow-delay=".5s">
                </div>
                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                    <!-- id -->
                    <input type="hidden" name="id" id="id" required="required" class="form" placeholder="id" th:field="*{jobId}" />
                    <!-- job title -->

                    Category:
                    <select th:field="*{jobTitle}">
                        <option  th:each="option:${jobTitle}" th:value="${option.id}">
                            [[${option.job_title}]]
                        </option>
                    </select>

                    <!--<input type="text" name="job title" id="name" required="required" class="form" placeholder="Job title" th:field="*{jobTitle}" />-->
                    <!--<span th:if="${#fields.hasErrors('jobTitle')}"-->
                          <!--th:errors="*{jobTitle}"></span>-->
                    <!-- job description -->
                    <input type="text" name="description" id="model" required="required" class="form" placeholder="Job Description" th:field="*{jobDescription}" />
                    <span th:if="${#fields.hasErrors('jobDescription')}"
                          th:errors="*{jobDescription}"></span>
                    <!-- job Date posted -->
                    <input type="date" name="posted date" id="subject" required="required" class="form" placeholder="Job Date Posted" th:field="*{jobDatePosted}"/>
                    <span th:if="${#fields.hasErrors('jobDatePosted')}"
                          th:errors="*{jobDatePosted}"></span>
                    <input type="text" name="jobClosed" id="jobClosed" required="required" class="form" placeholder="Job Closed?" th:field="*{jobClosed}"/>
                    <span th:if="${#fields.hasErrors('jobClosed')}"
                          th:errors="*{jobClosed}"></span>
                    <input type="submit" value="Post" id="submit" name="submit" class="form-btn semibold text-center">
                </div><!-- End Left Inputs -->
            </form>

        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->





<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>