<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appeal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="base :: bootstrap31"></th:block>
    <th:block th:replace="base :: index"></th:block>
</head>
<body>
<h2>It looks like you missed your interview timeslot.</h2>

<form th:action="@{/appeal}" th:object="${jui}" method="POST">
    <input type="hidden" th:field="*{id}">

    <h3>Please fill in your appeal form below.</h3>
        <h4>Reason for missing the interview: </h4>
        <h4>Further description: </h4>
        <textarea cols="30" rows="10">
            <input type="text" th:field="*{appealReason}">
        </textarea>

        <button type="submit">Submit</button>
    </h4>
</form>


</body>
</html>