<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: header">
    <title>Apply</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
<!--<<<<<<< HEAD-->
    <form th:action="@{/apply}"
          th:object="${jobUser}"
          method="POST">
        <input type="hidden" th:field="${jobUser.id}"/>

        <h3>You are applying for: <span th:text="${jobUser.getJob().getJobTitle().job_title}"></span></h3>

        <h4>Description:</h4>
        <div th:text="${jobUser.getJob().description}"></div>


        <div class="form-group">
            Category
            <select name="resume" class="form-control input-md" th:field="*{resume}">
                <!-- above name field holds the value of the selected category ie) compact -->
                <option value="">Select Resume</option>
                <option th:each="option:${resumes}" th:value="${option.id}" th:text="${option.resumeVersionName}">
                </option>

<
            </select><br />
            <!--<span th:if="${#fields.hasErrors('resume')}"-->
                  <!--th:errors="*{resume}"></span><br />-->
        </div>



        <button type="submit" class="btn btn-primary">Apply</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </form>
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>