<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Choose Interview Time</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
            $( "#datepicker" ).datepicker({ minDate: -0, maxDate: "+14D" }); // choose until 14 days later
        } );
    </script>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <h1>Congrats, you have been selected for an interview!</h1>

    <div class="container">
        <div class="my-5">
            <form method="post" th:action="@{/setinterview}" th:object="${jui}">
                <h2>Please select interview date and time.</h2>
                <input type="hidden" th:field="*{id}"/>

                <label for="stringInterviewTime">Choose Date and Time: </label>
                <p><input type="datetime-local" name="interview time" id="stringInterviewTime" required="required" class="form" placeholder="Choose Interview Date" th:field="*{stringInterviewTime}"></p>




                <!--<input class="form-control"-->
                       <!--type="datetime-local"-->
                       <!--id="datepicker"-->
                       <!--th:name="*{stringInterviewTime}"-->
                        <!--th:min="${now}"/>-->

                <!--<input th:field="${stringInterviewTime}" type="datetime-local" name="time"-->
                       <!--th:value="${now}"-->
                       <!--min="${now}"-->
                       <!--max="2019-04-14T00:00"-->
                       <!--pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required/><br/>-->



                <input type="submit" value="POST"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>

</body>
</html>