<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Choose Interview Time</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <h1>Congrats, you have been selected for an interview!</h1>
    <h2>Choose Interview Date and Time</h2>

    <div class="container">
        <div class="my-5">
            <form method="post" th:action="@{/setinterview}" th:object="${jui}">
                <h2>Please select interview date and time.</h2>
                <input type="hidden" th:field="*{id}"/>

                <label for="date">Choose Time: </label>

                <input class="form-control"
                       type="datetime-local"
                       id="date"
                       th:name="*{stringInterviewTime}"
                        th:min="${now}"/>

                <!--<input th:field="${stringInterviewTime}" type="datetime-local" name="time"-->
                       <!--th:value="${now}"-->
                       <!--min="${now}"-->
                       <!--max="2019-04-14T00:00"-->
                       <!--pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required/><br/>-->



                <input type="submit" value="Post"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>

</body>
</html>