<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- timeout and moves to designated page, jobs.html, after x seconds -->
    <meta http-equiv="refresh" content="5; url=http://localhost:8080/">

<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Confirm Resume Upload</title>
</head>
<body>
    <div th:replace="base :: nav"></div>

    <div class="container">
        <th:block th:object="${resume}">

            <h2 th:inline="text">Your resume [[${resume.resumeVersionName}]] has been successfully saved. </h2>

            <br />
            <h3>You are now being redirected to the Home Page.</h3>

        </th:block>
    </div>


<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>