<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Home</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
<h2>Welcome to Robot Interview!</h2>
    <th:block sec:authorize="isAuthenticated()">
    <a href="/resumeupload">First, add your resume!</a>
        <br/>
        <a href="/jobs">Next, view the open jobs!</a>

    </th:block>
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>