<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Interview</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <h2 th:text="${job.jobTitle}"></h2>
    <input type="hidden" th:field="${job.jobId}"/>

    <form action="#" th:action="@{/interview}" th:object="${jiu}" method="POST">
        <input type="hidden" th:field="${jiu.id}"/>
        <input type="hidden" th:field="${jiu.interview.interviewId}"/>
        <input type="hidden" th:field="${jiu.interview.questions}"/>

        <div th:each="question : ${jiu.interview.questions}">
                <div th:text="${question.questionText}" name="questions"></div>
                <input type="text" class="form-control" name="answers"/>
                <!--<input type="text" class="form-control" th:field="${question.answerText}" />-->

                <br />
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>  <button type="reset" class="btn btn-primary">Reset</button>
        </form>
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>