<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Thanks</title>
    <meta http-equiv="refresh" content="4; url=myjobs">

</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <h2>Thanks for interviewing. Your responses have been sent to the hiring manager, who will contact you if he or she
        has additional questions.</h2>


</div>
<div th:replace="base :: jquery"></div>
<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>

</body>

</html>