<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Register</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="base :: bootstrap31"></th:block>
    <th:block th:replace="base :: index"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">

    <th:block sec:authorize="hasAuthority('ADMIN')">

        <div th:each="qa : ${jui.chatHistory}">
            <div th:text="${qa.question}"></div>
            <div th:text="${qa.answer}"></div>
        </div>
        <li class="nav-item"><a class="nav-link" href="/admin">Add Job</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobsadmin">Jobs</a></li>
    </th:block>


</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>