<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Interview</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">

    <form action="#" th:action="@{/interview}" th:object="${jui}" method="post">

        <input type="hidden" name="juiID" th:value="${jui.id}"/>

        <div th:each="qa : ${jui.chatHistory}">

            <div name="question" th:text="${qa.question}">
            </div>

            <input type="text" name="answers" />

        </div>

        <input type="submit" value="submit">
    </form>

</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>