<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Jobs</title>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container">
    <div class="list-group" th:each="job : ${jobs}">
            <!--<a th:href="@{/apply/{id}(id=${job.getJobId()})}" class="list-group-item list-group-item-action" th:text="${job.jobTitle}"><span class="badge badge-primary badge-pill" th:text="${job.jobDatePosted}">14</span></a>-->
        <a th:href="@{/apply/{id}(id=${job.id})}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">

                <!--<h5 class="mb-1" th:text="${job.title}"></h5>-->

                <h5 class="mb-1" th:text="${job.getJobTitle().job_title}"></h5>
                <small th:text="${job.datePosted}"></small>

            </div>
            <p class="mb-1" th:text="${job.description}"></p>
            <small>Click to apply</small>
        </a>
    </div>
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>