<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>My Jobs</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container" >
    <p>
        Today is: <span th:text="${now}">13 May 2011</span>
    </p>
    <div class="list-group" th:each="jobUserInter : ${juis}">
        <div class="row">
            <div class="col list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${jobUserInter.jobUser.job.getJobTitle().job_title}"></h5>
                </div>
                <p class="mb-1" th:text="${#strings.abbreviate(jobUserInter.jobUser.job.description, 100)}"></p>

            </div>
            <div class="col-2">
                <span class="badge badge-primary badge-pill" th:text="${jobUserInter.jobUser.appStatus}">Status</span>
                <a th:if="${jobUserInter.jobUser.appStatus=='pending interview date'}" th:href="@{/setinterview/{id}(id=${jobUserInter.jobUser.id})}" class="btn btn-primary" th:target="_blank"
                   type="button">Set interview time</a>
                <span th:if="${jobUserInter.jobUser.appStatus=='pending interview'}" class="badge badge-primary badge-pill" th:text="${jobUserInter.getStringInterviewTime()}" >Interview date</span>


            </div>
            <div class="col-2">
                <!--<a th:href="@{/interview/{id}(id=${job.id})}" class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Interview</a>-->
                <a th:if="${jobUserInter.jobUser.appStatus=='pending interview'}" th:href="@{/interview/{id}(id=${jobUserInter.jobUser.id})}" class="btn btn-primary" th:target="_blank"
                   type="button">Start Interview</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>