<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="base :: bootstrap31"></th:block>
    <th:block th:replace="base :: index"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container" >
    <p>
        Today is: <span th:text="${now}">13 May 2011</span>
    </p>
    <div class="list-group" th:each="jui : ${juis}">

        <div class="row">
            <div class="col list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <!--<h5 class="mb-1" th:text="${jui.id}"></h5>-->
                    <h5 class="mb-1" th:text="${jui!=null}?${jui.getJobUser().getJob().getJobTitle().job_title}:'Title'"></h5>
                    <!--<h5 class="mb-1" th:text="${jobUserInter.getJobUser().appStatus}"></h5>-->
                </div>
                <p class="mb-1" th:text="${jui!=null}?${#strings.abbreviate(jui.jobUser.job.description, 100)}:'Descriptiion'"></p>

            </div>
            <div class="col-2">
                <span class="badge badge-primary badge-pill" th:text="${jui!=null}?${jui.getJobUser().appStatus}:'Status'"></span>
                <a th:if="${jui!=null}?${jui.jobUser.appStatus=='pending interview date'}:'A'" th:href="@{/setinterview/{id}(id=${jui!=null}?${jui.jobUser.id}:'B')}" class="btn btn-primary" th:target="_blank"
                   type="button">Set interview time</a>
                <span th:if="${jui!=null}?${jui.jobUser.appStatus=='pending interview'}:'C'" class="badge badge-primary badge-pill" th:text="${jui!=null}?${jui.getStringInterviewTime()}:'Interview Date'" >Interview date</span>


            </div>
            <div class="col-2">
                <!--<a th:href="@{/interview/{id}(id=${job.id})}" class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Interview</a>-->
                <a th:if="${jui!=null}?${jui.jobUser.appStatus=='pending interview'}:'E'" th:href="@{/interview/{id}(id=${jui!=null}?${jui.jobUser.id}:'F')}" class="btn btn-primary" th:target="_blank"
                   type="button">Start Interview</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>