<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: header"></div>
    <title>Secure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="base :: bootstrap31"></th:block>
    <th:block th:replace="base :: index"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
<h2>Secure page</h2>
    <a href="/logout">Logout</a>
    <h4>Email</h4>
    <p th:text="${myuser.email}"></p><br />
    <h4>First name</h4>
    <p th:text="${myuser.firstName}"></p><br />
    <h4>Last name</h4>
    <p th:text="${myuser.lastName}"></p><br />

</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>