<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="base :: bootstrap31"></th:block>
    <th:block th:replace="base :: index"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <th:block th:object="${jui}">

        <!--<form method="post" th:action="@{/setinterview}" th:object="${jui}">-->
            <h2>Congrats, you're selected for an interview!</h2>
            <!--<input type=hidden th:field="*{id}"/>-->

            <!--<label>Choose Time:</label>-->
            <!--<input th:field="*{interviewTime}" type="time"/><br/>-->

            <!--<label>Choose Date:</label>-->
            <!--<input th:field="*{interviewTime}" type="date" min="2019-4-1" max="2019-4-15"/><br/>-->
            <!--<input type="submit" value="Post"/>-->
        <!--</form>-->

        <a th:href="@{/setinterview/{id}(id=${jui.getJobUser().getId()})}">Choose your Interview Date and Time</a>
    </th:block>
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>