<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
    <title>Success</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">

    <h2>Congrats you're selected for an interview! Please select interview date and time.</h2>

    <a href="/setinterview">Choose Interview Date</a>

</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>